<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsersService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55255/Services/UsersService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsersService" contract="ServiceReference.IUsersService" name="BasicHttpBinding_IUsersService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>